.wrapper {
  margin-top: 40px;
}

.sort-product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort-by {
  font-size: 1.3rem;
  margin-right: 10px;
}

.sort-list {
  width: 180px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #e4e1e1;
  font-size: 1.4rem;

  .caret-down {
    font-size: 1.6rem;
  }
}

.product-list {
  width: 100%;
}

