.category-list {
  width: 280px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  animation: showList linear 0.3s;
}

@keyframes showList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.category-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover {
    background-color: #ffb416;
  }
}

.category-img {
  width: 25x;
  height: 25px;
  object-fit: cover;
}
.category-name {
  font-size: 1.4rem;
  color: #323c42;
  font-weight: 400;
  margin-left: 6px;
}
